/*customer.css*/
@charset "utf-8";



#contain{}

/********** pageTit **********/
.pageTit{width: 100%; height: 400px; background: url(../img/customer/bg.jpg); background-size: cover; background-position: 50% 50%;}
.pageTit h4{font-size: 24px; font-weight: bold; text-align: center; color: #fff; padding-top: 230px; text-shadow: 4px 2px 10px rgb(0 0 0 / 80%)}


/********** menuBar **********/
.menuBar{width: 1200px; padding: 20px 10px 0 10px; margin: 0 auto;}
.menuBar ul{display: flex; justify-content: end;}
.menuBar ul li{background: url(../img/menu_bar.png) no-repeat right center;
margin-right: 8px; padding-right: 10px;}
.menuBar ul li:last-child{background: transparent; margin-right: 0px; padding-right: 0px;}
.menuBar ul li a{font-size: 14px; color: #555; padding-right: 8px; }
.menuBar ul li:last-child a{padding-right: 0;}


/********** se1 **********/
.se1{width: 1200px; padding: 120px 10px 80px 10px; margin: 0 auto; color: #555;}
.se1 .subTite{}
.se1 .subTite h2{color: #555; font-size: 22px; font-weight: bold; background: url(../img/info/border_orange.png) no-repeat left bottom; padding-bottom: 20px; margin-bottom: 20px;}
.se1 .subTite span{font-size: 18px; font-weight: bold;}
.se1 .subTite p{line-height: 160%; padding: 20px 0; font-size: 14px;}

.se1 .apt{padding-top: 40px;}
.se1 .apt .top{display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
.se1 .apt .top strong{font-size: 14px;}
.se1 .apt .top a{display: block; width: 160px;color: #fff; line-height: 40px; text-align: center; background: #f47321; font-size: 14px;}

.se1 .apt .info{display: flex; flex-wrap: wrap;  margin: 0 -10px 0 -10px;}
.se1 .apt .info .box{height: 122px; width: calc(100% / 3 - 20px); display: flex; align-items: center; padding-left: 20px; margin: 0 10px; border: 1px solid #c5c5c5; background-repeat: no-repeat; background-position: 300px center; cursor: pointer;} 
.se1 .apt .info .box a{font-size: 14px; color: #555;}
.se1 .apt .info .box a span{}
.se1 .apt .info .box a .num{font-size: 30px; color: #555; letter-spacing: -1px; display: none;}
.se1 .apt .info .box:first-child a .num{display: block;}



/********** se2 **********/
.se2{width: 1200px; padding: 0px 10px 0px 10px; margin: 0 auto; color: #555;}

.se2 .step{}
.se2 .step ul{display: flex; align-items: center; flex-wrap: wrap;}
.se2 .step ul li{width: calc(100% / 3); text-align: center; margin-bottom: 40px; position: relative; padding: 0 14px;}
.se2 .step ul li:before{content: ""; display: block; width: 14px; height: 46px; background: url("../img/customer/txt_bar_left_grey.png") no-repeat left top; position: absolute; top: 0; left: 0;}
.se2 .step ul li:after{content: ""; display: block; width: 15px; height: 46px; background: url("../img/customer/txt_bar_right_grey.png") no-repeat right top; position: absolute; top: 0; right: 0;}
.se2 .step ul li span{display: block; color: #f47321; line-height: 46px; background: #e7e7e7;font-size: 14px;}

.se2 .step ul li.on:before{background: url("../img/customer/txt_bar_left.png");}
.se2 .step ul li.on:after{background: url("../img/customer/txt_bar_right.png");}
.se2 .step ul li.on span{color: #fff; background: #f47321;}

.se2 .join{}
.se2 .join h2{font-size: 20px; padding: 40px 0; font-weight: normal;}
.se2 .join p{font-size: 14px;}

.se2 .join .box{padding-top: 40px;}
.se2 .join .box .info{height: 400px; overflow-y: scroll; background: #e7e7e7; padding: 20px; font-size: 14px;}
.se2 .join .box .yORn{font-size: 14px; text-align: right; margin-top: 10px;}

.se2 .iPin{}
.se2 .iPin h2{font-size: 20px; padding: 40px 0; font-weight: normal;}
.se2 .iPin p{font-size: 14px;}

.se2 .iPin .box{width: 100%; border: 1px solid #f47321; padding: 30px 30px; margin-top: 40px; display: flex; align-items: center; position: relative;}
.se2 .iPin .box img{}
.se2 .iPin .box p{font-size: 14px; margin-left: 20px;}
.se2 .iPin .box .btn{width: 135px; line-height: 30px; font-size: 14px; background: #f47321; text-align: center; color: #fff; cursor: pointer; position: absolute; right: 20px;}

.se2 .btns{text-align: center; padding: 40px 0;}
.se2 .btns button{width: 180px; height: 50px; color: #fff; font-size: 14px; line-height: 50px; text-align: center; border: none; margin: 0 10px; cursor: pointer;}
.se2 .btns button.ok{background: #f47321;}
.se2 .btns button.no{background: #555;}



/******************** responsive.css ********************/
@media (max-width: 1217px){
    .menuBar{width: 90%;}
    .se1{width: 90%;}
    .se2{width: 90%;}
    .se1 .apt .info .box{background-position: 95% 80%;}
}

@media (max-width: 1023px){

    /*menuBar*/
    .menuBar{width: 90%; padding: 20px 0 0 0;}

    /*se1*/
    .se1{width: 90%; padding: 60px 0;}
    .se1 .apt .info .box{background-position: 160px 50%; background-size: 20%;}
    .se1 .apt .info .box a .num{font-size: 20px;}
    

    /*se2*/
    .se2{width: 90%; padding: 0;}
    .se2 .iPin .box{flex-direction: column; align-items: baseline; padding: 30px 30px 60px 30px;}
    .se2 .iPin .box p{margin-left: 0; margin-top: 20px;}
    .se2 .iPin .box .btn{bottom: 30px;}
    
}


@media (max-width: 767px){

    /*pageTit*/
    .pageTit{height: 300px;}
    .pageTit h4{font-size: 18px; padding-top: 180px;}

    /*menuBar*/
    .menuBar{display: none;}

    /*se1*/
    .se1 .subTite h2{font-size: 20px;}

    .se1 .apt .info .box{text-align: center; justify-content: center; align-items: start; padding-top: 20px; padding-left: 0; background-position: 90% 90%; background-size: 30%;}
    .se1 .apt .info .box:nth-child(1){background-image: none !important;}
    .se1 .apt .info .box a .num{font-size: 16px;}

    .se1 .apt .top{flex-direction: column; align-items: baseline;}
    .se1 .apt .top a{margin-top: 20px;}


    /*se2*/
    .se2 .step ul li{width: 100%; padding: 0; margin-bottom: 0;}
    .se2 .step ul li:before{display: none;}
    .se2 .step ul li:after{display: none;}
    .se2 .step ul li:nth-child(2), .se2 .step ul li:nth-child(3){display: none;}

    .se2 .join .box .info{height: 300px;}
    .se2 .join .box .yORn{text-align: left;}
    .se2 .iPin h2{font-size: 18px;}

    .se2 .iPin .box{align-items: center; padding: 30px;}
    .se2 .iPin .box .btn{position: static; margin-top: 20px;}
    .se2 .btns{display: flex;}
    .se2 .btns button{width: 50%; margin: 0;}
    .se2 .btns button.ok{margin-right: 2%;}
    
    
    
    
    
}
